*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
html{
    color:#333333;
    background-color:#fff;
    font-size: 20px;
    font-weight: 300;
    font-family:Arial,Helvetica,sans-serif;
}
/*-------------------*/
/* Reuseable documents */
/*---------------------*/
.row{
    width:1140px;
    margin:0 auto;
}
/*-----heading-------*/
header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/hero.jpg');
    background-position: center;
    background-size: cover;
    height:100vh;
    background-repeat: no-repeat;

}
.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    text-decoration: none;
    transform:translate(-50%,-50%);


}
h1{
    margin-top:0;
    margin-bottom:20px;
    color:#fff;
    font-size:200%;
    text-transform: uppercase;
    
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
}



.hero-img{
    height:100px;
    width:auto;
    float:left;
}
/*---------navbar---------*/
.main-nav{
    float:right;
    list-style:none;
    margin-top: 40px;
}
.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color:#fff;
    font-size: 90%;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    transition:all 0.1s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #eb2f06;
}
/*-------Buttons--------*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding:15px 30px;
    border-radius:200px;
    font-weight:300;
    display:inline-block;
    transition: 0.2s;
    text-decoration: none;
}
.btn-full:link,
.btn-full:visited{
    background-color: #eb2f06;
    color:#fff;
    border:1px solid #eb2f06;
}
.btn-ghost:link,
.btn-ghost:visited{
    color:#eb2f06;
    border:1px solid #eb2f06;
}
.btn:hover,
.btn:active{
    background-color: #da2c06;
}
.btn-full:hover,
.btn-full:active{
    
    border:1px solid #da2c06;
}
.btn-ghost:hover,
.btn-ghost:active{
    color:#fff;
    border:1px solid #da2c06;
}

.span-1-of-4{
    width:24%;
    float: left;

}
.section-two{
    padding: 40px 0;
    margin-bottom: 40px;
}
/*-------headings-----*/
.long-copy{
    font-size:180%;
    font-weight: 300;
    color:#333333;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform:uppercase;
   
}
.long-copy:after{
    display:block;
    content:"";
    height:2px;
    width:100px;
    background-color: #da2c06;
    margin: 0 auto;
    margin-top: 20px;

}
.paragraph{
    width:70%;
    margin-left: 15%;
    line-height: 150%;
    margin-bottom: 10px;
    text-align: center;
}
.box{
    padding:1%;
}
h3{
    margin:12px 0px;
    font-size:115%;
    color:#242222;
    font-weight: 300;
}
.box p{
    line-height: 150%;
    font-size:90%;
    margin-bottom: 40px;

}
.icon-big{
    display:block;
    
    color:#da2c06;
    font-size:350%;
    font-weight: 400;
}
/*----------section-meal-----*/ 
.meal-showcase{
    list-style:none;
    width:100%;
    
}
.meal-showcase li{
width:25%;
display:block;
float:left;
}
.meal-img{
    transform:scale(1.15);
    transition:transform 0.5s;
    width:100%;
    margin:0;
    z-index:111;    
}
.meal-img img{
    width:100%;
    padding:1%;
}
.meal-img:hover{
    transform:scale(1.1);
}
/*-----features-----*/

.span-1-of-2{
    width:50%;
    float:left;
}
.button{
    padding:4px 9px;
    height:auto;
    font-size:120%;
    color:white;
    background-color: orange;
    margin-top:20px;
    border-radius:10%;
    margin-left: 20px;

}
.button:first-child{
    margin-left:0px;
}

/*-------------------*/
/* how it works      */
/*---------------------*/


.step-box:first-child{
    text-align:right;
    padding-right:3%;
    margin-top:35px;
}
.step-box:last-child{
    text-align:left;
    padding-left:3%;
    margin-top:70px;
}
.work-steps{
    margin-bottom:30px;
 }
 .work-steps:last-of-type{
    margin-bottom:80;
 }
 .work-steps div{
    color:#da2c06;
    border:2px solid #eb2f06;
    display:inline-block;
    height:50px;
    width:50px;
    border-radius:50%;
    text-align: center;
    padding-top:10px;
    float:left;
    margin-right:25px;
 }

 /*------------------*/
/*   section-cities     */
/*-------------------*/


.section-cities{
    padding:40px 0;
}
.box img{
    width:100%;
    height:auto;
    margin-bottom:0;
}
.margin-top{
    margin-top:40px;
}
.icon-small{
    color:#da2c06;
    font-size:130%;
    text-align:center;
    width:30px;
    vertical-align: middle;
    /*------secrets to align middle---*/
    line-height:120%;
    display:inline-block;
    margin-top:-4px;
}
 
/*------------------*/
/*   clearfix       */
/*-------------------*/
.clearfix{zoom:1}
.clearfix::after{
    content:'.';
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}
